<!doctype html>
<html>
  <head>
    <title>Twitchionary</title>
    <script src="https://cdn.jsdelivr.net/npm/comfy.js@latest/dist/comfy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
  </head>

  <body>

    <div id="app">
      
     <div id="background" v-bind:class="{ solved: guessed }">
       <div class="title">
        Twitchionary
       </div>
      
      <div class="vertical-center">
        <div v-if="!connected && !loading">
          <input type="text" id="twitchAcc" name="twitchAcc" v-model="username" placeholder="Your Twitch Username" v-on:keyup.enter="connect"> 
          <br />
          <button class="button" type="button" v-on:click="connect">Connect</button>
        </div>

        <div v-if="loading">
          Connecting...
        </div>

        <div v-if="!gameReady && connected">
          <input :type="showWord" id="word" name="word" v-model="word" placeholder="Word to be guessed" v-on:keyup.enter="startGame">
          <button class="button" type="button" v-on:click="toggleWord">

            <span v-if="showWord == 'password'">Show</span>
            <span v-if="showWord == 'text'">Hide</span>
          </button>
          <br />
          <button class="button" type="button" v-on:click="startGame" >Start Game</button>
        </div>

        <div v-if="gameReady && !guessed">
          {{timeString}} <br /> <br />
          <button class="button" type="button" v-on:click="nextGame">New Word</button>
        </div>
  
        
  
        <div v-if="guessed">
          <div id="guessed">{{guessedUsername}} guessed {{word}} correctly in {{timeString}}!</div>
          <br />
          <button class="button" type="button" v-on:click="nextGame">Next Game</button>
        </div>
      </div>

     </div>

    </div>
    


  </body>
  
  <script src="./js/app.js"></script>

</html>