html, body{
    background:rgba(191, 91, 245, 0);
    padding:0;
    border:none;
    margin:0;
    
}

.button{
  border: none;
  color: #6441a5;
  background:rgba(255, 255, 255, 0.9);
  cursor:pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.button:hover {
  background-color: rgba(0,0,0, 0.2); /* Green */
  color: white !important;
}

.unsolved{
  background: #eb3d3d !important;
}

.solved{
  background: #3eed6c !important;
}

.unsolved .button{
  color:#eb3d3d;
}

.solved .button{
  color:#3eed6c;
}



#background{
  transition:0.3s;
  background:#6441a5;
  /* background:#eb3d3d; */
  width:100%;
  height:100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color:white;
  font-size: 25px;
}




.title{
  width:100vw;
  text-align: center;
  padding-top:50px;
  font-size:50px;
  color:rgba(255, 255, 255, 1);
}

input[type=text],input[type=password]  {
  border:none;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:10px;
  min-width:250px;
}

.vertical-center {
  width:100vw;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center; 
}

#footer{
  width:100vw;
  padding:10px;
  position: fixed;
  bottom:0%;
  background:rgba(0,0,0,0.3);
  font-size:1rem;
  text-align:center;
}

.fi{
  display:inline-block;
  padding: 0 25px 0 25px ;
}


.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 4s linear;
	        animation: tracking-in-expand-fwd 4s linear; 
}

.guess{
  position:fixed;
  font-size:2rem;
}

 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    letter-spacing: 0em;
    /* -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px); */
    opacity: 0;
  }
  1% {
    opacity: 0.6;
  }
  2% {
    /* -webkit-transform: translateZ(0);
            transform: translateZ(0); */
    opacity: 1;
    letter-spacing: 0.0625em;
  }

  90% {
    /* -webkit-transform: translateZ(0);
            transform: translateZ(0); */
    opacity: 1;
    letter-spacing: 0.0625em;
  }
  100% {
    opacity: 0;
    letter-spacing: 0em;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    letter-spacing: 0em;
    /* -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px); */
    opacity: 0;
  }
  10% {
    /* -webkit-transform: translateZ(0);
            transform: translateZ(0); */
    opacity: 1;
    letter-spacing: 0.0625em;
  }

  90% {
    /* -webkit-transform: translateZ(0);
            transform: translateZ(0); */
    opacity: 1;
    letter-spacing: 0.0625em;
  }
  100% {
    opacity: 0;
    letter-spacing: 0em;
  }
}
